body{
    margin:0px;
    padding:0px;
}

#navbar{
    display: flex;
    flex-direction: row;
    height:100px;
    background-color: black;
}

img{
    height:40px;
    width:40px;
    border-radius: 20px;
}

#container-1,#container-2{
  color:white;
  height:100%;
  width:50%;
}

#container-1{
    display: flex;
    flex-direction: row;
    margin: 20px 0 0 20px;
}

#container-2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
}

span{
    font-family: sans-serif;
    font-size: 20px;
    margin:40px 20px 0 0;
    cursor: pointer;
}

h3{
    font-family: sans-serif;
    margin:26px 0 0 -6px;
    cursor: pointer;
    color:red;
}

span:hover{
    color:pink;
}